.my-theme {
    $color-main-heading: #1E1E1E;
    $color-main-text: #263036;
    $color-main-links: #1C2E8C;
    $color-main-background-left-side: #86A3B4;
    $margin-after-heading: 30px;
    $margin-between-blocks: 50px;
    $margin-between-sidebars: 50px;

}