.my-theme {
    --color-main-heading: #04A0CF;
    --color-main-text: #B80C09;
    --color-main-links: #D8ACB7;
    --color-main-background-left-side: #1c638c;
    --margin-after-heading: 30px;
    --margin-between-blocks: 50px;
    --margin-between-sidebars: 50px;
}