* {
    padding: 0;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 385px auto;
}
.left-side-block {
    background-color: #86A3B4;
    border: 1px solid;

border-image-source: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(0deg, #1E1E1E, #1E1E1E);



}
.name {
    width: 260px;
    height: 96px;
    padding-left: 40px;
    padding-top: 58px;
    text-align: justify;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}
.my-name {
    color: white;
}
.my-surname {
    color: #1C2E8C;
}
.cv-image {
    width: 385px;
    height: 292px;
}   
.contact-block {
    width: 334px;
    margin-left: 40px;
    font-weight: 600;
    font-family: 'Inter';
    margin-top: 50px;
    color: #263036;
}
.caption-contact {
    font-size: 2em;
    line-height: 39px;
    
}
.black-line {
    justify-content: center;
    border: 6px solid #1E1E1E;
    height: 0;
    width: 289px;
    background-color: #1E1E1E;
}
.contact-details {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    margin-top: 32px;
}
.caption-contact-details {
    line-height: 29px;
    font-size: 1.5em;
}
.text-contact-details {
    font-size: 1em;
    line-height: 19px;
    margin-top: 7px;
}
.languages-block {
    padding-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    margin-top: 36px;
}
.caption-languages {
    font-size: 2em;
    line-height: 39px;
    color: #263036;
}
.name-of-language {
    list-style-type: none;
    margin-top: 20px;
}
.text-name-language {
    font-size: 20px;
    color: #1E1E1E;
    line-height: 24px;
    margin-top: 5px;
}
.another-black-line {
    width: 659px;
    border: 5px solid black;
    height: 0;
    background-color: black;
    margin-top: 28px;
}
.summary-block {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    margin-left: 55px;
    margin-top: 58px;
    color: #1E1E1E;
}
.caption-summary {  
    font-size: 36px;
    line-height: 44px;
}
.summary-text {
    margin-top: 28px;
    font-size: 1em;
    line-height: 19px;
}
.skills-block {
    width: 659px;
}
.name-of-skills {
   display: grid;
   grid-template-columns: 50% 50%;
    margin-left: 55px;
    margin-top: 26px;
}
.list-of-skills {
    line-height: 19px;
    font-size: 1em;
}
.about-experience {
    font-size: 14px;
    margin-top: 31px;
    line-height: 17px;
}
.work-experience-block {
    width: 706px;
    margin-top: 58px;
    margin-left: 55px;
}
.usual-font-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
}
.education-block {
    margin-top: 58px;
    margin-left: 55px;
    line-height: 19px;
}
.education-about {
    margin-top: 28px;
    font-size: 16px;
}

