* {
    padding: 0;
    margin: 0;
    
}
.main-theme {
    --color-main-heading: #1E1E1E;
    --color-main-text: #263036;
    --color-main-links: #1C2E8C;
    --color-main-background-left-side: #86A3B4;
    --margin-after-heading: 30px;
    --margin-between-blocks: 50px;
    --margin-between-sidebars: 50px;
}

body {
    font-family: 'Inter', Arial, sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 385px auto;
}
.left-side-block {
    background-color: var(--color-main-background-left-side);
    border: 1px solid;
    height: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
border-image-source: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(0deg, #1E1E1E, #1E1E1E);
}
.right-side-block {
    position: absolute;
    left:  385px;          

}
.name {
    width: 260px;
    height: 96px;
    padding-left: 40px;
    padding-top: 58px;
    text-align: justify;
    
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}
.my-name {
    color: white;
}
.my-surname {
    color: var(--color-main-links);
}
.cv-photo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cv-image {
    width: 320px;
}   
.contact-block {
    width: 334px;
    margin-left: 40px;
    font-weight: 600;
    margin-top: 50px;
    color: var(--color-main-text);
}
.caption-contact {
    font-size: 2em;
    line-height: 39px;
    
}
.black-line {
    border-bottom: 6px solid #1E1E1E;
    height: 0;
    width: 289px;
    background-color: var(--color-main-heading);
}
.contact-details {
    font-style: normal;
    font-weight: 600;
    margin-top: 32px;
}
.caption-contact-details {
    line-height: 29px;
    font-size: 1.5em;
}
a {
    text-decoration: none;
}
.text-contact-details {
    font-size: 1em;
    line-height: 19px;
    margin-top: 11px;
}
.languages-block {
    padding-left: 40px;
    font-style: normal;
    font-weight: 600;
    margin-top: 36px;
}
.caption-languages {
    font-size: 2em;
    line-height: 39px;
    color: var(--color-main-text);

}
.name-of-language {
    list-style-type: none;
    margin-top: 20px;
}
.text-name-language {
    font-size: 20px;
    color: var(--color-main-heading);
    line-height: 24px;
    margin-top: 5px;
}
.another-black-line {
    width: 659px;
    border-bottom: 5px solid black;
    height: 0;
    background-color: black;
    margin-top: var(--margin-after-heading);
}
.summary-block {
    
    font-style: normal;
    font-weight: 600;
    margin-left: var(--margin-between-sidebars);
    margin-top: var(--margin-between-blocks);
    color: var(--color-main-heading);
}
.caption-summary {  
    font-size: 36px;
    line-height: 44px;
}
.summary-text {
    margin-top: var(--margin-after-heading);
    font-size: 1em;
    line-height: 19px;
    color: var(--color-main-text);
}
.skills-block {
    width: 659px;
}
.name-of-skills {
   display: grid;
   grid-template-columns: 50% 50%;
    margin-left: var(--margin-between-sidebars);
    margin-top: var(--margin-between-blocks);
}
.list-of-skills {
    color: var(--color-main-text);
    line-height: 19px;
    font-size: 1em;
}
.about-experience {
    font-size: 14px;
    color: var(--color-main-text);
    margin-top: var(--margin-after-heading);
    line-height: 17px;
}
.work-experience-block {
    width: 706px;
    color: var(--color-main-heading);
    margin-top: var(--margin-between-blocks);
    margin-left: var(--margin-between-sidebars);
}
.usual-font-style {
    font-style: normal;
    font-weight: 600;
}
.education-block {
    margin-top: var(--margin-between-blocks);
    margin-left: var(--margin-between-sidebars);
    line-height: 19px;
    color: var(--color-main-heading);   
}
.education-about {
    margin-top: var(--margin-after-heading);
    font-size: 16px;
    color: var(--color-main-text);
}



